
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Warning: This allows all reads and writes to your database.
      // This is useful for development but you must secure your database
      // before going to production.
      allow read, write: if true;
    }
  }
}
