
.patient-dashboard-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.patient-sidebar {
    grid-column: 1;
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 20;
}

.patient-main-content {
    grid-column: 2;
    overflow-y: auto;
    padding: 0 2rem;
}

.patient-actions-bar {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 30;
    padding: 1rem;
    height: calc(100vh - 2rem);
    width: 250px;
    background-color: hsl(var(--background));
    border-radius: var(--radius);
    border: 1px solid hsl(var(--border));
}
